{% extends 'hangar/base.html' %}
{% block title %}Logbook{% endblock %}

{% block content %}
<div class="main-content">
    <div class="logbook">
        <div class="logbook-table">
            <table>
                <caption>
                    <h2>Logbook de {{ user.username|capfirst }}</h2>
                </caption>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Appareil</th>
                        <th>Immat</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Départ</th>
                        <th>Retour</th>
                        <th>Temps/vol</th>
                        <th>Duo</th>
                        <th>Obs</th>
                        <th>Supp</th>
                    </tr>
                </thead>

                <tbody>
                    {% for log in logs %}
                    <tr>
                        <td>{{ log.date }}</td>
                        <td>{{ log.aircraft }}</td>
                        <td>{{ log.ident }}</td>
                        <td>{{ log.from_airport }}</td>
                        <td>{{ log.to_airport }}</td>
                        <td>{{ log.start }}</td>
                        <td>{{ log.stop }}</td>
                        <td>{{ log.flyTime }}</td>
                        {% if log.duo %}
                        <td>oui</td>
                        {% else %}
                        <td>non</td>
                        {% endif %}
                        <td>{{ log.observations }}</td>
                        <td><a href="{% url 'logbook:delete' log_id=log.id %}">x</a></td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
        <div class="logbook-btn-add">
            <a href="{% url 'logbook:form' %}">
                <button>Ajouter un log</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}