
{% extends 'hangar/base.html' %}

{% block title %}Planning des locations{% endblock %}
{% block content %}
<H1 style="text-align:center; font-size: 45px;">Planning des locations</H1>
<div class="main-content">
<div class="location-content">
    {% if locations %}
        {% for loc in locations %}
        <div class="location-items">
                <div class="card-body">
                <h5 class="card-title">Nom: {{ loc.nom }} <br /> Prénom: {{ loc.prenom }}</h5>
                <h6 class="card-subtitle">Appareil: {{ loc.machine }}</h6>
                <p class="card-text">Du {{ loc.start.date }} à {{ loc.start.time }}<br />
                    Au {{ loc.end.date }} à {{ loc.end.time }}</p>
                </div>
        </div>
        {% endfor %}
    {% else %}
        <h4>Pas de locations en cours !</h4>
    {% endif %}
</div>
</div>
{% endblock %}