
{% extends 'hangar/base.html' %}
{% load static %}
{% block title %} Hangar {% endblock %}


{% block content %}
{% include 'hangar/weather.html' %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}

        {% for article in articles %}
        <div class="card">
            <div class="card-title">
                <h4><a href="detail/{{article.id}}">{{ article.title }}</a></h4>
            </div>
            <div class="card-image">
                <img src='{{ article.image.url }}' alt="image {{article.title}}">
            </div>
            <div class="card-content">
                <h5>{{ article.content | truncatechars:100}}</h5>
            </div>
        </div>

        {% endfor %}
        {% endblock %}