
{% extends 'hangar/base.html' %}
{% block content %}
{% if messages %}
<div class="alert alert-warning">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</div>
{% endif %}
<form action="" method="POST">
    {% csrf_token %}
    {{  form.as_p }}
        <label for="username" >Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Envoyer">
</form>

{% endblock content %}