/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}





:root {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    height: max-content;
}

.baniere {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    background: url('assets/img/BG.jpg') no-repeat center;
}

.baniere-title {
    text-decoration: none;
    text-align: center;
    margin: auto;
}

.baniere-title a {
    font-size: 5rem;
    color: whitesmoke;
}

.baniere-subtitle {
    font-size: 3rem;
    color: whitesmoke;
    margin: auto;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 2em;
    background-color: cadetblue;
}

.navbar-links a {
    display: flex;
    flex: auto;
    justify-content: space-evenly;
    font-size: 1.2rem;
    padding: 0.5em 0.2em;
    text-decoration: none;
    color: azure;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    overflow: auto;
}

.green-alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
    width: 66vw;
    height: 3rem;
    padding: 0.2rem;
    margin-bottom: 10px;
    align-items: center;
    color: black;
    border-radius: 12px;
    background-color: rgba(19, 233, 61, 0.437);
    animation: scaling 2s;
    margin-left: auto;
    margin-right: auto;
}

.red-alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
    width: 66vw;
    height: 3rem;
    padding: 0.2rem;
    margin-bottom: 10px;
    align-items: center;
    color: black;
    border-radius: 12px;
    background-color: rgba(251, 12, 8, 0.3);
    animation: scaling 2s;
    margin-left: auto;
    margin-right: auto;
}

@keyframes scaling {
    from {
        scale: 50%;
    }

    to {
        scale: 100%;
    }
}

.alert-success {
    text-align: center;
}

/* Weather */
.weather-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 6px 6px 6px;
    background-color: aliceblue;
    box-shadow: 2px 2px 1em 0.2em rgb(107 130 128 / 80%);
    border-radius: 10px;
}

.weather-display-title {
    font-size: 2em;
    padding: 20px;
    color: gray;
}

.weather-display-items {
    padding: 1em;
}

.weather-display-items ul {
    display: flex;
    flex-direction: column;
}

.weather-display li {
    padding: 10px;
    font-size: 1.6rem;
    background-color: cadetblue;
    color: white;
    margin: 2px;
    opacity: 85%;
    border-radius: 10px;
}
.weather-display-by {
    margin-left: auto;
    opacity: 35%;
    font-size: smaller;
    padding: 5px;
}
/*====== Font Awsome =======================*/
.fa-trash-can {
    color: black;
}
.fa-gauge-high {
    padding-right: 5px;
}
.fa-temperature-low {
    padding-right: 5px;
}
.fa-cloud {
    padding-right: 5px;
}
.fa-sun {
    padding-right: 5px;
}
.fa-moon {
    padding-right: 5px;
}
/* LOGBOOK */

.logbook {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logbook-table {
    width: 80vw;
    overflow: auto;
}

.logbook-title {
    overflow-x: overlay;
}

.logbook-table table {
    margin-top: 2em;
    margin-bottom: 2em;
    border-collapse: collapse;
}

.logbook-table caption {
    font-size: 25px;
    padding-bottom: 0.7em;
}

.logbook-table thead,
th {
    padding: 0.2em;
    border: 1px solid black;
    text-align: center;
    background-color: rgba(107, 130, 128, 0.50);
    color: whitesmoke;
}

.logbook-table td {
    font-size: smaller;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    padding: 3px;
}

.logbook-btn-add {
    display: flex;
}
.logbook-btn-add button {
    padding: 10px 20px;
    background-color: cadetblue;
    border: none;
    color: white;
    border-radius: 5px;
}
.logbook-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logbook-form form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    /* place-items: flex-end; */
    align-items: end;
    background-color: cadetblue;
    padding: 20px;
    box-shadow: 2px 2px 1em 0.2em rgb(107 130 128 / 80%);
}

.logbook-form label {
    text-align: center;
}

.logbook-form input {
    color: rgba(107, 130, 128, 0.50);
    align-items: center;
}

.logbook tr:nth-child(odd) {
    background-color: rgba(107, 130, 128, 0.450);
}

/* CARD */
.cards {}

.card {
    overflow: hidden;
}

.details-card-img img {
    width: 100%;
}

.card-title a {
    text-decoration: none;
    font-size: 2em;
    padding: 0px 1em;
}

.card-content {
    font-size: 1.5em;
}

.card-image img {
    width: 100vw;
}

.card-title {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1em;
}

.card-body {
    width: 100vw;
    text-align: center;
    padding-bottom: 0.5em;
    box-shadow: 2px 2px 1em 0.2em rgb(107 130 128 / 80%);
}

.card-subtitle {
    font-size: 1em;
    color: gray;
    padding-bottom: 0.5em;
}
.btn-about input{
    width: 200px;
    height: 50px;
    background-color: cadetblue;
    opacity: 70%;
    border: 0px;
    border-radius: 10px;
}

/* LOCATION */
.location-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.location-items {
    display: flex;
    padding: 1.2em;
    font-size: 1.2rem;
    width: 80vw;
}

.footer {
    display: flex;
    height: 100px;
    width: 100vw;
    background-color: rgba(107, 130, 128, 0.942);
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

/*====== LOGIN ==========*/

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    padding: 27px;
    margin: auto;
}

.login-form input {
    width: 50%;
    font-size: 1.2rem;
    padding: 0.4rem;
    margin: 0.4rem 0rem 0.4rem 0rem;
}

.login-submit {
    margin-top: 1.2rem;
    background-color: cadetblue;
    text-align: center;
    font-size: 0.9rem;
    border: none;
    border-radius: 0.2rem;
    color: white;
}

.login-submit:hover {
    opacity: 70%;
    cursor: pointer;
}

/* ============================= En dessus de 800px ==================================*/
@media only screen and (min-width: 800px) {


    .main-content {
        width: 95vw;
    }
    .baniere {
        height: 500px;
    }

    .baniere-title {
        font-size: 8rem;
    }
    .navbar-links a {
        font-size: 2rem;
    }
    .weather-display {
        flex-direction: column;
    }

    .weather-display-items ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 20px;
    }
    .weather-display li {
        padding: 10px;
        font-size: 1.6rem;
        background-color: cadetblue;
        color: white;
        margin: 11px;
        opacity: 85%;
        border-radius: 10px;
    }

    .logbook-table {
        display: flex;
        flex-direction: column;
    }
    .logbook-table caption {
        font-size: 45px;
        text-align: center;
    }
    .logbook-table table {
        font-size: 1.4em;
    }

    .login-form {
        width: 75%;
    }
}

/*======== Au dessous de 500px ====================*/
@media only screen and (max-width: 500px) {

    .baniere {
        height: 150px;
    }
}

/* ============================= En dessus de 1920px ==================================*/
@media only screen and (min-width: 1900px) {}